<#macro header>
<#local user=SPRING_SECURITY_CONTEXT.authentication.principal/><!--session中的用户-->
<!DOCTYPE html>
<html>
<head>
  <#include "/admin/common/head.html">
  <#nested> 
</head>
</#macro>
<!-- /header -->
<#macro body>
<#local user=SPRING_SECURITY_CONTEXT.authentication.principal/><!--session中的用户-->
<body class="main_body">
	<div class="layui-layout layui-layout-admin">
		<!-- 顶部 -->
		<#include "/admin/common/header.html">
		<!-- 左侧导航 -->
		<#include "/admin/common/menu.html">
		<#nested>

		<#include "/admin/common/footer.html">
	</div>
	<!-- 移动导航 -->
	<div class="site-tree-mobile"><i class="layui-icon">&#xe602;</i></div>
	<div class="site-mobile-shade"></div>
</#macro>
<!-- /body -->
<#macro footer>
<#local user=SPRING_SECURITY_CONTEXT.authentication.principal/><!--session中的用户-->
	<#include "/admin/common/js.html">
	<#nested>
</body>
</html>
</#macro>